@import "../../general";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.MyAccountPage h1 {
  text-align: center;
  color: #333;
  padding-bottom: 10px;
}

.MyAccountPage div {
  margin-bottom: 15px;
  button {
    cursor: pointer;
  }
}

.MyAccountPage label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.InputField,
.MyAccountPage select,
.MyAccountPage button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.MyAccountPage ul {
  list-style: none;
  padding: 0;
}

.MyAccountPage li {
  margin-bottom: 10px;
}

.MyAccountPage strong {
  color: #333;
}

.fullWidth {
  width: 100%;
}

.profileSection {
  flex: 1;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
}

.ImageDimensions {
  width: 100%;
  height: 100%;
  max-height: 10rem;
  max-width: 10rem;
  border-radius: 100px;
  object-fit: contain;
  margin: auto;
  display: flex;
}

.imageButtonContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.imageButton {
  background-color: $burgundy;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.imageButton:hover {
  opacity: 90%;
}

.deleteButton {
  background-color: white !important;
  color: $burgundy !important;
  border: 1px solid $burgundy !important;
}

.deleteButton:hover {
  background-color: $burgundy !important;
  color: white !important;
  border: 1px solid white !important;
}

.selectInput {
  div {
    margin-bottom: 0;
  }
}

.dropdownBgColorExtended {
  background: #f2f2f2;
  padding: 1rem;
}

.dropdownBgColorCollapsed {
  background: white;
}

.passwordChangeDropdown {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 10px;
}

.MyAccountPage .DropDownAllergens button {
  width: initial;
  padding: initial;
  margin-top: initial;
  margin: initial;
  align-items: initial;
  display: initial;
  justify-content: initial;
  margin-bottom: initial;
  box-sizing: initial;
  border: initial;
  border-radius: initial;
  font-size: initial;
}

.passwordChangeDropdown label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.passwordChangeDropdown input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.passwordChangeStatus {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

.success {
  color: #4caf50;
  background-color: #e8f5e9;
}

.error {
  color: #d32f2f;
  background-color: #ffcdd2;
}

.saveButton {
  background-color: $burgundy;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.saveButton:hover {
  opacity: 90%;
}
.restaurantSection {
  flex: 1;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;

  button {
    flex: 1;
    padding: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #333;

    &.activeTab {
      background-color: #ccc;
    }
  }
}

.favoriteListContainer {
  display: flex;
  flex-direction: column;
}

.favoriteList {
  width: 100%;
  overflow-y: auto;
  padding: 0.5rem;
  max-height: 84rem;

  button {
    border: none;
  }
  > div {
    margin-top: 10px;
    div {
      margin: 0;
    }
  }
  .RestoCard,
  .Dish {
    margin-bottom: 10px;
  }
}

.divider {
  padding-top: 10px;
}

.dividerTitle {
  display: flex;
  align-items: center;
}

.dividerIcon {
  width: unset !important;
}

@media (min-width: 768px) {
  .MyAccountPage {
    display: flex;
  }

  .profileSection,
  .restaurantsSection {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .restaurantSection {
    max-width: 600px;
  }
}
