.paymentFailedContainer {
  text-align: center;
  padding: 50px;
  max-width: 600px;
  margin: auto;

  h2 {
    color: #F44336; // Eine Farbe für Fehler
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .tryAgainLink {
    display: inline-block;
    background-color: #F44336;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background-color: #d32f2f;
    }
  }
}
