@keyframes clickAnimation {
  0% {
    transform: scale(1);
  };
  50% {
    transform: scale(0.9);
  };
  100% {
    transform: scale(1);
  };
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
}

.containerHeadline {
  padding: 64px 32px 0 32px;
  display: flex;
  justify-content: center;
}

.containerHeadlineSecond {
  padding: 0 32px 0 32px;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 16px;
}

.paper {
  padding: 24px;
  margin-bottom: 32px;
}

.card {
  padding-top: 80px;
  min-height: 70vh;
  width: 100%;
  position: relative;
  transition: opacity 0.4s ease !important;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    animation: clickAnimation 0.3s ease;
  };
}

.circleContainer {
  width: 25%;
  min-width: 130px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.circleImage {
  width: 100%;
  height: 100%;
}

.cardContent {
  text-align: center;
  z-index: 1; // Ensure the content is above the circle
}

.body1 {
  padding: 24px;
}

.h5 {
  padding-top: 24px;
}

.root {
  height: calc(100vh - 125px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/stage.jpg");
  background-size: cover;
  background-position: center;
}

.introText {
  margin-top: 24px !important;
  text-align: center;
}

.whatIsGuardos {
  padding: 24px;
  justify-content: center;
  text-align: center;
  border-radius: 2rem;
  -webkit-user-select: none;
  user-select: none;
  min-height: 350px;
  overflow-wrap: break-word;
}

.whatIsGuardosContainer {
  padding-top: 24px;
}

.textBox {
  max-width: 50%;
}

.getStartedButton {
  margin-top: 24px !important;
  background-color: #6D071A !important;
  &:hover {
    background-color: #AC2A37 !important;
  }
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8); // Adjust the opacity and color as needed
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.sliderContainer {
  padding: 0 0 64px 0;
  width: 100%;
}

.fullHeight {
  min-height: 100vh;
  width: 100%;
}

.timelineOfProject {
  padding-bottom: 24px;

  .containerHeadline {
    padding-bottom: 24px;
  }
}

@media (max-width: 1020px) {
  .container {
    flex-direction: column;
    font-size: 1rem;
  }

  .fullHeight {
    height: unset;
  }
}