node_modules/
package-lock.json
dist/
.idea/
packages/visitorWeb/coverage
packages/visitorWeb/cypress/screenshots
packages/visitorWeb/cypress/videos
packages/restoWeb/cypress/screenshots
packages/restoWeb/cypress/videos
packages/restoWeb/coverage