@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");

.header {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  height: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.headerLinks {
  display: flex;
  margin-left: auto;
  gap: 25px;
  align-items: center;
}

.containerHeader {
  height: 5rem;
  width: 100%;
  background-color: #6d071a;
}

.NavTitle {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.NavTitle:hover {
  cursor: pointer;
  color: #ffffff;
}

.NavTitle::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.NavTitle:hover::before {
  transform: scaleX(1);
}

.LogoImg {
  width: 6.25rem;
  height: 6.25rem;
  cursor: pointer;
}

.logoContainer {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .logo {
    width: 100%;
    height: 100%;
    background: url(../../../assets/logo_processed.png) center/cover no-repeat;  }
}

.languageDropdown {
  position: absolute;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 8px;
}

.languageOption {
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  color: #251919;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.languageOption:hover {
  background-color: #f0f0f0;
}