.header {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

.headerLinks {
  display: flex;
  margin-left: auto;
  gap: 25px;
  align-items: center;
}

.containerHeader {
  height: 5rem;
  width: 100%;
  background-color: #6d071a;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.NavTitle {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Calibri", sans-serif;
  font-weight: 500;
}

.NavTitleLanguage {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Calibri", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.NavTitleLanguage::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.NavTitleLanguage:hover::before {
  transform: scaleX(1);
}

.NavTitleLanguage:hover {
  cursor: pointer;
  color: #ffffff;
}

.NavTitleDropDown {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Calibri", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.NavTitleDropDown::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.NavTitleDropDown:hover::before {
  transform: scaleX(1);
}

.NavTitleHamburger {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Calibri", sans-serif;
  font-weight: 500;
  display: none;
}

.NavTitleHamburger:hover {
  cursor: pointer;
  color: #ffffff;
}

.NavTitleDropDown:hover {
  cursor: pointer;
  color: #ffffff;
}

.NavTitle:hover {
  cursor: pointer;
  color: #ffffff;
}

.NavTitle::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.NavTitle:hover::before {
  transform: scaleX(1);
}

.LogoImg {
  width: 6.25rem;
  height: 6.25rem;
  cursor: pointer;
}

.logoContainer {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .logo {
    width: 100%;
    height: 100%;
    background: url(../../../assets/logo_processed.png) center/cover no-repeat;  
  }
}

.languageDropdown {
  position: absolute;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 8px;
  top: calc(100% + 10px);
}

.languageOption {
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  color: #251919;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.languageOption:hover {
  background-color: #f0f0f0;
}

.drawer {
  background-color: transparent;
  display: none;
}


.drawerContent {
  background-color: #6d071a;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px;
  height: 100%;
}

@media (max-width: 950px) {
  .drawer {
    display: block;
  }

  .NavTitleHamburger {
    display: block;
  }

  .NavTitle {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .headerLinks {
    margin-left: 0;
  }
}