@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");
@import "../../../general.scss";

.FormControlMargin {
  margin: 1.5rem 0.8rem;
  align-items: center;
}

.ImageDimensions {
  width: 100%;
  height: auto;
  max-height: 25rem;
  max-width: 15rem;
  object-fit: cover;
  margin: auto;
  display: flex;
}

.FieldMarginLeft {
  padding-left: 0.4rem;
}

.FieldMarginRight {
  padding-right: 0.4rem;
}

.ImageFlex {
  display: flex !important;
}

.TextNextToImageField {
  padding-left: 1rem;
}

.GridSpaceTop {
  margin-top: 1.5rem;
  justify-content: center;
}

.SaveBtn {
  display: block !important;
  margin-left: auto !important;
  margin-right: 0 !important;
  margin-top: 1rem !important;
  font-weight: 600 !important;
  margin-top: 20px !important;
  border-radius: 10px !important;
  color: $burgundy !important;
  background-color: white !important;
  font-family: "Calibri", sans-serif !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}

.SaveBtn:hover {
  background-color: $burgundy !important;
  color: white !important;
}

.DayDisplay {
  margin-bottom: 1rem;
  color: $light-red;
}
