@import "../../../../general.scss";

.FixedBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
  z-index: 100;
  button {
    font-family: $montserrat;
  }
}
