.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

p {
    font-size: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}
  
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 18px;
}
  
button {
    display: block;
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
}
  
.emailSection {
    margin-bottom: 20px;
}
  
.emailDisplay {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
}
  
.pencilIcon {
    margin-left: 10px;
    cursor: pointer;
}

.disableButton {
  cursor: wait;
}

.buttonEnabled {
    background-color: #6d071a;
    color: white;
}
  