@import "../../general.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 5%;
  border-radius: 10px;
  padding: 20px 20px 40px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
}

.disableButton {
  font-size: 16px;
  min-width: 150px !important;
  height: 50px !important;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 10px;
  color: #737373;
  background-color: #e5e4e4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border: none;
}

p {
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.emailSection {
  margin-bottom: 20px;
}

.emailDisplay {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.pencilIcon {
  margin-left: 10px;
  cursor: pointer;
}

.buttonEnabled {
  font-size: 16px;
  min-width: 150px !important;
  height: 50px;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 10px;
  color: $burgundy;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border: none;
  cursor: pointer;
}

.buttonEnabled:hover {
  background-color: $burgundy;
  color: white;
}
