@import "../../general.scss";

/* Basic styles */
.App {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  padding: 20px;
  box-sizing: border-box;
}

/* Tile container grid layout */
.tileContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 800px;

  a {
    cursor: pointer;
  }
}

/* Tile styles */
.tile {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hover effect */
.tile:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Icon styles */
.icon {
  font-size: 40px;
  margin-bottom: 10px;

  img {
    width: 80px;
    height: 80px;
  }
}

/* Text styles */
.text {
  font-size: 20px;
  font-weight: 500;
}

/* Responsive adjustments for different screen sizes */
@media (max-width: 1000px) {
  /* Icon styles */
  .icon {
    img {
      width: 40px;
      height: 40px;
    }
  }

  .tileContainer {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

@media (max-width: 600px) {
  .tileContainer {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

@media (max-width: 400px) {
  .tileContainer {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
}
