@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");
@import "../../general.scss";

.RectFilter {
  width: 24.13rem;
  height: 50.25rem;
  background-color: #ffffff;
  filter: drop-shadow(0rem 0.25rem 0.313rem rgba(0, 0, 0, 0.25));
  margin-top: 3rem;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 0.625rem;
}

.TitleFilter {
  font-family: "Calibri", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}

.DivTitleFilter {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.TitleSubFilter {
  font-family: "Calibri", sans-serif;
  font-size: 1.06rem;
  font-weight: 600;
  color: #000000;
}

.DivRating {
  padding-top: 1rem;
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(3, auto);
}

.DivCategories {
  padding-top: 1rem;
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(3, auto);
}

.TitleCheck {
  color: #000000;
  font-family: "Calibri", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.DivAller {
  flex: fit-content;
  margin-top: 1rem;
}

.DivTitleAller {
  margin-bottom: 2rem;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.DivFilter {
  padding-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
}

.DivRange {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.DivSlider {
  margin-top: 1rem;
}

.allergenChips {
  display: block !important;
}

.chip {
  margin-bottom: 0.4rem !important;
  margin-left: 0 !important;
  margin-right: 0.4rem !important;
}

.saveFilter {
  margin-left: 20px !important;
}

.sliderWidth {
  width: 100% !important;
}

.filterLimit {
  color: #666;
  font-size: 0.875rem;
  margin: 8px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .RectFilter {
    width: calc(100% - 40px);
    max-width: 100%;
    height: auto;
    background-color: #ffffff;
    filter: drop-shadow(0rem 0.25rem 0.313rem rgba(0, 0, 0, 0.25));
    border-radius: 0.625rem;
  }

  .TitleFilter {
    font-size: 1.3rem;
  }

  .DivTitleFilter {
    margin-bottom: 2rem;
  }

  .DivRating,
  .DivCategories {
    grid-template-columns: repeat(2, auto);
  }

  .TitleCheck {
    font-size: 0.9rem;
  }

  .DivAller {
    margin-top: 0.5rem;
  }

  .DivTitleAller {
    margin-bottom: 1rem;
  }

  .DivFilter {
    padding: 4rem;
    margin: 0 auto;
  }

  .DivRange,
  .DivSlider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100%;
    margin-left: 0rem;
  }

  .allergenChips {
    display: inline-block !important;
  }

  .chip {
    margin-bottom: 0.2rem !important;
  }
}

@media only screen and (max-width: 1200px) {
  .RectFilter {
    margin-top: 0;
    margin-left: 0;
  }
}
