@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");
@import "../../general";

.FlexParent {
  display: flex;
  padding-bottom: 0.5rem;
}

.FlexParentRating {
  padding-bottom: 0.5rem;
}

.GridItem {
  padding: 2rem;
}

.GridItemImage {
  padding: 1rem 0 1rem 1rem;
  width: 100%;
}

.ImageDimensions {
  width: 100px;
  border-radius: 100px !important;
  height: 100px;
  object-fit: cover;
}

.DishTitle {
  margin: 0 1rem 0.4rem 0;
  font-family: "Calibri", sans-serif;
  font-size: 1.5rem;
}

.JustificationPrintExtended {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Calibri", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.AddressText {
  font-family: "Calibri", sans-serif;
  font-size: 0.95rem;
  margin: 0.1rem 0 0 0.3rem;
}

.BtnPage {
  display: flex;
  padding-top: 0.3rem;
}

.RestoBtn {
  margin-right: 0 !important;
  margin-left: auto !important;
  padding: 0.2rem 0.8rem !important;
  font-size: 16px !important;
  font-family: $montserrat !important;
}

.OpeningHours {
  font-family: "Calibri", sans-serif;
  font-size: 1rem;
  margin: 0.1rem 0 0 0.3rem;
  padding-top: 1rem;
}

.OpeningHoursColumn {
  padding: 0 0.6rem;
}

@media (max-width: 850px) {
  .GridItemImage,
  .GridItem {
    flex-basis: 100%;
    max-width: 100% !important;
    width: 100%;
  }

  .FlexParent {
    flex-direction: column;
  }

  .OpeningHours {
    overflow-x: auto;
  }

  .GridContainer {
    flex-direction: column !important;
  }

  .FlexParentRating {
    padding-bottom: 0.5rem;
  
    div {
      display: flex;
      flex-direction: column;
    }
  }
  
}
