@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");

.StarPosition {
  padding-top: 0.1rem;
}

.RatingCount {
  padding: 0.5rem 0 0 0.3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.AddReview {
  all: unset;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #ffffff !important;
  background-color: #6D071A !important;
  margin-left: 1rem !important;
  text-transform: none !important;
  font-size: 0.9rem !important;
  width: auto !important;
  height: 2rem !important;
}

.ReviewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}