.impressumContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .impressumInfo {
    margin-bottom: 30px;
  
    p {
      margin: 5px 0;
    }
  }
  
  .impressumLegal {
    h2 {
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 10px;
    }
  
    a {
      color: blue;
      text-decoration: underline;
    }
  }
  